COLLABORATION_GRAPH	= YES
COLS_IN_ALPHA_INDEX	= 3
EXTRACT_ALL		= YES
EXTRACT_PRIVATE	= YES
EXTRACT_STATIC		= YES
FILE_PATTERNS		= *.h *.cpp
HAVE_DOT		= YES
INCLUDE_PATH		= ../src
GENERATE_LATEX		= NO
HIDE_SCOPE_NAMES	= YES
INPUT			= ../src
INPUT			+= ../README.md
INPUT			+= ../README-BuildingHowTo.md
INPUT			+= ../README-Tools.md
INPUT			+= doxygen
INPUT			+= README-BuiltIn-Functions.md
INPUT			+= README-Classes-API.md
INPUT			+= README-Classes.md
INPUT			+= README-Constants.md
INPUT			+= README-DataTypes and Variables.md'
INPUT			+= README-Events.md
INPUT			+= README-FlowControl-Conditions2.md
INPUT			+= README-FlowControl-Conditions.md
INPUT			+= README-FlowControl-Loops.md
INPUT			+= README-Functions.md
INPUT			+= README-Operators.md
INPUT			+= README-Syntax.md
JAVADOC_AUTOBRIEF	= YES
OUTPUT_DIRECTORY	= documentation
PERL_PATH		= /usr/local/bin/perl
PROJECT_NAME		= MinitScript
PROJECT_NUMBER		= 0.9.31 PRE-BETA
RECURSIVE		= YES
SEARCHENGINE		= YES
SERVER_BASED_SEARCH	= NO
SHOW_NAMESPACES		= NO
SORT_MEMBER_DOCS	= NO
SOURCE_BROWSER		= YES
STRIP_CODE_COMMENTS	= NO
UML_LIMIT_NUM_FIELDS	= 100
UML_LOOK		= YES
USE_MDFILE_AS_MAINPAGE	= ../README.md
WARNINGS		= YES
FULL_PATH_NAMES = YES
STRIP_FROM_INC_PATH = /home/andreas/Development/drewke.net/minitscript/src
