COLLABORATION_GRAPH	= YES
COLS_IN_ALPHA_INDEX	= 3
EXTRACT_ALL		= YES
EXTRACT_PRIVATE	= YES
EXTRACT_STATIC		= YES
FILE_PATTERNS		= *.h *.cpp
HAVE_DOT		= YES
INCLUDE_PATH		= ../src
INCLUDE_PATH		= ../ext/tinyxml
EXCLUDE_PATTERNS	= */src/tdme/tests/*
GENERATE_LATEX		= NO
HIDE_SCOPE_NAMES	= YES
INPUT			= ../src
INPUT			+= ../ext/tinyxml
INPUT			+= ../README.md
INPUT			+= ../README-Philosophy.md
INPUT			+= ../README-Editor.md
INPUT			+= ../README-BuildingHowTo.md
INPUT			+= ../README-Screenshots.md
INPUT			+= ../README-WebReferences.md
INPUT			+= ../README-GUI-XML.md
INPUT			+= ../README-MiniScript.md
JAVADOC_AUTOBRIEF	= YES
OUTPUT_DIRECTORY	= private
PERL_PATH		= /usr/local/bin/perl
PROJECT_NAME		= TDME2
PROJECT_NUMBER		= 1.9.166
RECURSIVE		= YES
SEARCHENGINE		= YES
SERVER_BASED_SEARCH	= NO
SHOW_NAMESPACES		= NO
SOURCE_BROWSER		= YES
STRIP_CODE_COMMENTS	= NO
UML_LIMIT_NUM_FIELDS	= 100
UML_LOOK		= YES
USE_MDFILE_AS_MAINPAGE	= ../README.md
WARNINGS		= YES
FULL_PATH_NAMES = YES
STRIP_FROM_INC_PATH = /home/andreas/Development/drewke.net/tdme2/src
