COLLABORATION_GRAPH	= NO
COLS_IN_ALPHA_INDEX	= 3
EXTRACT_ALL		= YES
EXTRACT_PRIVATE	= NO
EXTRACT_STATIC		= YES
FILE_PATTERNS		= *.cpp *.h
HAVE_DOT		= YES
GENERATE_LATEX		= NO
INPUT			+= ../ext/jsonbox
INPUT			+= ../ext/tinyxml
INPUT			+= ../src/tdme/application
INPUT			+= ../src/tdme/audio/AudioEntity.h
INPUT			+= ../src/tdme/audio/Audio.h
INPUT			+= ../src/tdme/audio/AudioStream.h
INPUT			+= ../src/tdme/audio/decoder
INPUT			+= ../src/tdme/audio/Sound.h
INPUT			+= ../src/tdme/audio/VorbisAudioStream.h
INPUT			+= ../src/tdme/engine/fileio/models/ModelReader.h
INPUT			+= ../src/tdme/engine/fileio/textures/TextureReader.h
INPUT			+= ../src/tdme/engine/fileio/textures/Texture.h
INPUT			+= ../src/tdme/engine/model
INPUT			+= ../src/tdme/engine/physics
INPUT			+= ../src/tdme/engine/primitives
INPUT			+= ../src/tdme/engine/particlesystems/CircleParticleEmitterPlaneVelocity.h
INPUT			+= ../src/tdme/engine/particlesystems/CircleParticleEmitter.h
INPUT			+= ../src/tdme/engine/particlesystems/BoundingBoxParticleEmitter.h
INPUT			+= ../src/tdme/engine/particlesystems/PointParticleEmitter.h
INPUT			+= ../src/tdme/engine/particlesystems/ParticleSystemEntity.h
INPUT			+= ../src/tdme/engine/particlesystems/ParticleEmitter.h
INPUT			+= ../src/tdme/engine/particlesystems/SphereParticleEmitter.h
INPUT			+= ../src/tdme/engine/Camera.h
INPUT			+= ../src/tdme/engine/Engine.h
INPUT			+= ../src/tdme/engine/Entity.h
INPUT			+= ../src/tdme/engine/EntityPickingFilter.h
INPUT			+= ../src/tdme/engine/FogParticleSystem.h
INPUT			+= ../src/tdme/engine/FrameBuffer.h
INPUT			+= ../src/tdme/engine/Frustum.h
INPUT			+= ../src/tdme/engine/Light.h
INPUT			+= ../src/tdme/engine/LinesObject3D.h
INPUT			+= ../src/tdme/engine/LODObject3D.h
INPUT			+= ../src/tdme/engine/ModelUtilities.h
INPUT			+= ../src/tdme/engine/Object3D.h
INPUT			+= ../src/tdme/engine/Object3DModel.h
INPUT			+= ../src/tdme/engine/Object3DRenderGroup.h
INPUT			+= ../src/tdme/engine/ObjectParticleSystem.h
INPUT			+= ../src/tdme/engine/ParticleSystemGroup.h
INPUT			+= ../src/tdme/engine/Partition.h
INPUT			+= ../src/tdme/engine/PartitionNone.h
INPUT			+= ../src/tdme/engine/PartitionOctTree.h
INPUT			+= ../src/tdme/engine/PointsParticleSystem.h
INPUT			+= ../src/tdme/engine/Rotation.h
INPUT			+= ../src/tdme/engine/Timing.h
INPUT			+= ../src/tdme/engine/Transformations.h
INPUT			+= ../src/tdme/gui/GUI.h
INPUT			+= ../src/tdme/gui/GUIParser.h
INPUT			+= ../src/tdme/gui/GUIParserException.h
INPUT			+= ../src/tdme/gui/elements
INPUT			+= ../src/tdme/gui/effects
INPUT			+= ../src/tdme/gui/events
INPUT			+= ../src/tdme/gui/nodes
INPUT			+= ../src/tdme/math
INPUT			+= ../src/tdme/network/httpclient
INPUT			+= ../src/tdme/network/udpclient
INPUT			+= ../src/tdme/network/udpserver/NIONetworkServerException.h
INPUT			+= ../src/tdme/network/udpserver/NIOServer.h
INPUT			+= ../src/tdme/network/udpserver/NIOServerClient.h
INPUT			+= ../src/tdme/network/udpserver/NIOServerGroup.h
INPUT			+= ../src/tdme/network/udpserver/NIOUDPServer.h
INPUT			+= ../src/tdme/network/udpserver/NIOUDPServerClient.h
INPUT			+= ../src/tdme/network/udpserver/NIOUDPServerGroup.h
INPUT			+= ../src/tdme/network/udpserver/NIOServerClientRequestHandler.h
INPUT			+= ../src/tdme/network/udpserver/NIOServerClientRequestHandlerHub.h
INPUT			+= ../src/tdme/network/udpserver/NIOServerClientRequestHandlerHubException.h
INPUT			+= ../src/tdme/os/filesystem
INPUT			+= ../src/tdme/os/threading
INPUT			+= ../src/tdme/os/tools/shared/files
INPUT			+= ../src/tdme/os/tools/shared/model
INPUT			+= ../src/tdme/tools/leveleditor/logic/Level.h
INPUT			+= ../src/utils/Character.h
INPUT			+= ../src/utils/Console.h
INPUT			+= ../src/utils/Enum.h
INPUT			+= ../src/utils/Exception.h
INPUT			+= ../src/utils/ExceptionBase.h
INPUT			+= ../src/utils/Float.h
INPUT			+= ../src/utils/HexEncDec.h
INPUT			+= ../src/utils/MutableString.h
INPUT			+= ../src/utils/PathFinding.h
INPUT			+= ../src/utils/PathFindingCustomTest.h
INPUT			+= ../src/utils/Pool.h
INPUT			+= ../src/utils/Properties.h
INPUT			+= ../src/utils/RTTI.h
INPUT			+= ../src/utils/StringTokenizer.h
INPUT			+= ../src/utils/StringUtils.h
INPUT			+= ../src/utils/Time.h
INPUT			+= ../src/utils/VectorIteratorMultiple.h
INPUT			+= ../README.md
INPUT			+= ../README-LevelEditor.md
INPUT			+= ../README-ModelEditor.md
INPUT			+= ../README-ParticleSystemEditor.md
INPUT			+= ../README-BuildingHowTo.md
JAVADOC_AUTOBRIEF	= YES
OUTPUT_DIRECTORY	= generated
PERL_PATH		= /usr/local/bin/perl
PROJECT_NAME		= TDME2
PROJECT_NUMBER		= 1.9.42
RECURSIVE		= NO
SEARCHENGINE		= YES
SERVER_BASED_SEARCH	= NO
SOURCE_BROWSER		= NO
STRIP_CODE_COMMENTS	= NO
UML_LIMIT_NUM_FIELDS	= 100
UML_LOOK		= YES
USE_MDFILE_AS_MAINPAGE	= ../README.md
WARNINGS		= YES
