COLLABORATION_GRAPH	= NO
COLS_IN_ALPHA_INDEX	= 3
EXTRACT_ALL		= YES
EXTRACT_PRIVATE	= NO
EXTRACT_STATIC		= YES
FILE_PATTERNS		= *.h
HAVE_DOT		= YES
GENERATE_LATEX		= NO
HIDE_SCOPE_NAMES	= YES
HIDE_FRIEND_COMPOUNDS	= YES
INPUT			+= ../ext/tinyxml
INPUT			+= ../src/tdme/application
INPUT			+= ../src/tdme/audio/fwd-tdme.h
INPUT			+= ../src/tdme/audio/Audio.h
INPUT			+= ../src/tdme/audio/AudioEntity.h
INPUT			+= ../src/tdme/audio/AudioStream.h
INPUT			+= ../src/tdme/audio/PacketAudioStream.h
INPUT			+= ../src/tdme/audio/Sound.h
INPUT			+= ../src/tdme/audio/VorbisAudioStream.h
INPUT			+= ../src/tdme/audio/decoder/fwd-tdme.h
INPUT			+= ../src/tdme/audio/decoder/AudioDecoder.h
INPUT			+= ../src/tdme/audio/decoder/AudioDecoderException.h
INPUT			+= ../src/tdme/audio/decoder/VorbisDecoder.h
INPUT			+= ../src/tdme/engine/fileio/fwd-tdme.h
INPUT			+= ../src/tdme/engine/fileio/ProgressCallback.h
INPUT			+= ../src/tdme/engine/fileio/models/fwd-tdme.h
INPUT			+= ../src/tdme/engine/fileio/models/ModelFileIOException.h
INPUT			+= ../src/tdme/engine/fileio/models/ModelReader.h
INPUT			+= ../src/tdme/engine/fileio/prototypes
INPUT			+= ../src/tdme/engine/fileio/scenes
INPUT			+= ../src/tdme/engine/fileio/textures/fwd-tdme.h
INPUT			+= ../src/tdme/engine/fileio/textures/PNGTextureReader.h
INPUT			+= ../src/tdme/engine/fileio/textures/PNGTextureWriter.h
INPUT			+= ../src/tdme/engine/fileio/textures/TextureReader.h
INPUT			+= ../src/tdme/engine/logics/fwd-tdme.h
INPUT			+= ../src/tdme/engine/logics/ApplicationClient.h
INPUT			+= ../src/tdme/engine/logics/ApplicationServer.h
INPUT			+= ../src/tdme/engine/logics/ApplicationServerClient.h
INPUT			+= ../src/tdme/engine/logics/Context.h
INPUT			+= ../src/tdme/engine/logics/Logic.h
INPUT			+= ../src/tdme/engine/logics/LogicMiniScript.h
INPUT			+= ../src/tdme/engine/logics/LogicNetworkPacket.h
INPUT			+= ../src/tdme/engine/logics/MiniScriptLogic.h
INPUT			+= ../src/tdme/engine/logics/NewClientLogic.h
INPUT			+= ../src/tdme/engine/logics/NetworkLogic.h
INPUT			+= ../src/tdme/engine/model
INPUT			+= ../src/tdme/engine/physics
INPUT			+= ../src/tdme/engine/primitives
INPUT			+= ../src/tdme/engine/prototype
INPUT			+= ../src/tdme/engine/subsystems/decals/fwd-tdme.h
INPUT			+= ../src/tdme/engine/subsystems/decals/DecalInternal.h
INPUT			+= ../src/tdme/engine/subsystems/lines/fwd-tdme.h
INPUT			+= ../src/tdme/engine/subsystems/lines/LinesInternal.h
INPUT			+= ../src/tdme/engine/subsystems/particlesystem/fwd-tdme.h
INPUT			+= ../src/tdme/engine/subsystems/particlesystem/CircleParticleEmitterPlaneVelocity.h
INPUT			+= ../src/tdme/engine/subsystems/particlesystem/CircleParticleEmitter.h
INPUT			+= ../src/tdme/engine/subsystems/particlesystem/BoundingBoxParticleEmitter.h
INPUT			+= ../src/tdme/engine/subsystems/particlesystem/FogParticleSystemInternal.h
INPUT			+= ../src/tdme/engine/subsystems/rendering/fwd-tdme.h
INPUT			+= ../src/tdme/engine/subsystems/rendering/ModelUtilitiesInternal.h
INPUT			+= ../src/tdme/engine/subsystems/rendering/ObjectModelInternal.h
INPUT			+= ../src/tdme/engine/subsystems/particlesystem/fwd-tdme.h
INPUT			+= ../src/tdme/engine/subsystems/particlesystem/ObjectParticleSystemInternal.h
INPUT			+= ../src/tdme/engine/subsystems/particlesystem/ParticleSystemEntityInternal.h
INPUT			+= ../src/tdme/engine/subsystems/particlesystem/PointParticleEmitter.h
INPUT			+= ../src/tdme/engine/subsystems/particlesystem/PointsParticleSystemInternal.h
INPUT			+= ../src/tdme/engine/subsystems/particlesystem/ParticleEmitter.h
INPUT			+= ../src/tdme/engine/subsystems/particlesystem/ParticleSystemInternal.h
INPUT			+= ../src/tdme/engine/subsystems/particlesystem/SphereParticleEmitter.h
INPUT			+= ../src/tdme/engine/subsystems/rendering/fwd-tdme.h
INPUT			+= ../src/tdme/engine/subsystems/rendering/ObjectAnimation.h
INPUT			+= ../src/tdme/engine/subsystems/rendering/ObjectBase.h
INPUT			+= ../src/tdme/engine/subsystems/rendering/ObjectInternal.h
INPUT			+= ../src/tdme/engine/scene
INPUT			+= ../src/tdme/engine/fwd-tdme.h
INPUT			+= ../src/tdme/engine/Camera.h
INPUT			+= ../src/tdme/engine/ColorTexture.h
INPUT			+= ../src/tdme/engine/ColorTextureCanvas.h
INPUT			+= ../src/tdme/engine/Decal.h
INPUT			+= ../src/tdme/engine/DynamicColorTexture.h
INPUT			+= ../src/tdme/engine/Engine.h
INPUT			+= ../src/tdme/engine/Entity.h
INPUT			+= ../src/tdme/engine/EntityHierarchy.h
INPUT			+= ../src/tdme/engine/EntityPickingFilter.h
INPUT			+= ../src/tdme/engine/EntityShaderParameters.h
INPUT			+= ../src/tdme/engine/EnvironmentMapping.h
INPUT			+= ../src/tdme/engine/FogParticleSystem.h
INPUT			+= ../src/tdme/engine/FrameBuffer.h
INPUT			+= ../src/tdme/engine/Frustum.h
INPUT			+= ../src/tdme/engine/Light.h
INPUT			+= ../src/tdme/engine/Lines.h
INPUT			+= ../src/tdme/engine/LODObject.h
INPUT			+= ../src/tdme/engine/ModelUtilities.h
INPUT			+= ../src/tdme/engine/Object.h
INPUT			+= ../src/tdme/engine/ObjectModel.h
INPUT			+= ../src/tdme/engine/ObjectRenderGroup.h
INPUT			+= ../src/tdme/engine/ObjectParticleSystem.h
INPUT			+= ../src/tdme/engine/OctTreePartition.h
INPUT			+= ../src/tdme/engine/ParticleSystem.h
INPUT			+= ../src/tdme/engine/ParticleSystemGroup.h
INPUT			+= ../src/tdme/engine/Partition.h
INPUT			+= ../src/tdme/engine/PointsParticleSystem.h
INPUT			+= ../src/tdme/engine/Rotation.h
INPUT			+= ../src/tdme/engine/SimplePartition.h
INPUT			+= ../src/tdme/engine/ShaderParameter.h
INPUT			+= ../src/tdme/engine/SceneConnector.h
INPUT			+= ../src/tdme/engine/Texture.h
INPUT			+= ../src/tdme/engine/Timing.h
INPUT			+= ../src/tdme/engine/Transform.h
INPUT			+= ../src/tdme/gui/fwd-tdme.h
INPUT			+= ../src/tdme/gui/GUI.h
INPUT			+= ../src/tdme/gui/GUIParser.h
INPUT			+= ../src/tdme/gui/GUIParserException.h
INPUT			+= ../src/tdme/gui/elements/fwd-tdme.h
INPUT			+= ../src/tdme/gui/elements/GUIElement.h
INPUT			+= ../src/tdme/gui/effects
INPUT			+= ../src/tdme/gui/events
INPUT			+= ../src/tdme/gui/nodes/fwd-tdme.h
INPUT			+= ../src/tdme/gui/nodes/GUIColor.h
INPUT			+= ../src/tdme/gui/nodes/GUIElementNode.h
INPUT			+= ../src/tdme/gui/nodes/GUIGradientNode.h
INPUT			+= ../src/tdme/gui/nodes/GUIImageNode.h
INPUT			+= ../src/tdme/gui/nodes/GUILayerNode.h
INPUT			+= ../src/tdme/gui/nodes/GUILayoutNode_Alignment.h
INPUT			+= ../src/tdme/gui/nodes/GUILayoutNode.h
INPUT			+= ../src/tdme/gui/nodes/GUINode_AlignmentHorizontal.h
INPUT			+= ../src/tdme/gui/nodes/GUINode_Alignments.h
INPUT			+= ../src/tdme/gui/nodes/GUINode_AlignmentVertical.h
INPUT			+= ../src/tdme/gui/nodes/GUINode_Border.h
INPUT			+= ../src/tdme/gui/nodes/GUINode_Clipping.h
INPUT			+= ../src/tdme/gui/nodes/GUINode_ComputedConstraints.h
INPUT			+= ../src/tdme/gui/nodes/GUINodeConditions.h
INPUT			+= ../src/tdme/gui/nodes/GUINodeController.h
INPUT			+= ../src/tdme/gui/nodes/GUINode_Flow.h
INPUT			+= ../src/tdme/gui/nodes/GUINode.h
INPUT			+= ../src/tdme/gui/nodes/GUINode_Padding.h
INPUT			+= ../src/tdme/gui/nodes/GUINode_RequestedConstraints.h
INPUT			+= ../src/tdme/gui/nodes/GUINode_RequestedConstraints_RequestedConstraintsType.h
INPUT			+= ../src/tdme/gui/nodes/GUINode_Scale9Grid.h
INPUT			+= ../src/tdme/gui/nodes/GUIPanelNode.h
INPUT			+= ../src/tdme/gui/nodes/GUIParentNode.h
INPUT			+= ../src/tdme/gui/nodes/GUIParentNode_Overflow.h
INPUT			+= ../src/tdme/gui/nodes/GUIScreenNode.h
INPUT			+= ../src/tdme/gui/nodes/GUIScreenNode_SizeConstraints.h
INPUT			+= ../src/tdme/gui/nodes/GUITextureBaseNode.h
INPUT			+= ../src/tdme/gui/nodes/GUISpaceNode.h
INPUT			+= ../src/tdme/gui/nodes/GUIStyledTextNode.h
INPUT			+= ../src/tdme/gui/nodes/GUITextNode.h
INPUT			+= ../src/tdme/gui/nodes/GUITableNode.h
INPUT			+= ../src/tdme/gui/nodes/GUITableCellNode.h
INPUT			+= ../src/tdme/gui/nodes/GUITableRowNode.h
INPUT			+= ../src/tdme/gui/nodes/GUIVideoNode.h
INPUT			+= ../src/tdme/math
INPUT			+= ../src/tdme/network/httpclient
INPUT			+= ../src/tdme/network/udp
INPUT			+= ../src/tdme/network/udpclient
INPUT			+= ../src/tdme/network/udpserver/fwd-tdme.h
INPUT			+= ../src/tdme/network/udpserver/NetworkServerException.h
INPUT			+= ../src/tdme/network/udpserver/Server.h
INPUT			+= ../src/tdme/network/udpserver/ServerClient.h
INPUT			+= ../src/tdme/network/udpserver/ServerGroup.h
INPUT			+= ../src/tdme/network/udpserver/ServerGroupBase.h
INPUT			+= ../src/tdme/network/udpserver/UDPServer.h
INPUT			+= ../src/tdme/network/udpserver/UDPServerClient.h
INPUT			+= ../src/tdme/network/udpserver/UDPServerGroup.h
INPUT			+= ../src/tdme/network/udpserver/UDPServerPacket.h
INPUT			+= ../src/tdme/network/udpserver/ServerClientRequestHandler.h
INPUT			+= ../src/tdme/network/udpserver/ServerClientRequestHandlerHub.h
INPUT			+= ../src/tdme/network/udpserver/ServerClientRequestHandlerHubException.h
INPUT			+= ../src/tdme/os/network/fwd-tdme.h
INPUT			+= ../src/tdme/os/network/Network.h
INPUT			+= ../src/tdme/os/network/NetworkException.h
INPUT			+= ../src/tdme/os/filesystem
INPUT			+= ../src/tdme/os/threading
INPUT			+= ../src/tdme/utilities/fwd-tdme.h
INPUT			+= ../src/tdme/utilities/Action.h
INPUT			+= ../src/tdme/utilities/Base64.h
INPUT			+= ../src/tdme/utilities/Buffer.h
INPUT			+= ../src/tdme/utilities/ByteBuffer.h
INPUT			+= ../src/tdme/utilities/Character.h
INPUT			+= ../src/tdme/utilities/Console.h
INPUT			+= ../src/tdme/utilities/Enum.h
INPUT			+= ../src/tdme/utilities/Exception.h
INPUT			+= ../src/tdme/utilities/ExceptionBase.h
INPUT			+= ../src/tdme/utilities/Float.h
INPUT			+= ../src/tdme/utilities/FloatBuffer.h
INPUT			+= ../src/tdme/utilities/FlowMap.h
INPUT			+= ../src/tdme/utilities/FlowMapCell.h
INPUT			+= ../src/tdme/utilities/Hex.h
INPUT			+= ../src/tdme/utilities/IntBuffer.h
INPUT			+= ../src/tdme/utilities/Integer.h
INPUT			+= ../src/tdme/utilities/MiniScript.h
INPUT			+= ../src/tdme/utilities/ModelTools.h
INPUT			+= ../src/tdme/utilities/MutableString.h
INPUT			+= ../src/tdme/utilities/ObjectDeleter.h
INPUT			+= ../src/tdme/utilities/PathFinding.h
INPUT			+= ../src/tdme/utilities/PathFindingCustomTest.h
INPUT			+= ../src/tdme/utilities/Pool.h
INPUT			+= ../src/tdme/utilities/Primitives.h
INPUT			+= ../src/tdme/utilities/Properties.h
INPUT			+= ../src/tdme/utilities/Reference.h
INPUT			+= ../src/tdme/utilities/RTTI.h
INPUT			+= ../src/tdme/utilities/SimpleTextureAtlas.h
INPUT			+= ../src/tdme/utilities/SHA256.h
INPUT			+= ../src/tdme/utilities/ShortBuffer.h
INPUT			+= ../src/tdme/utilities/TextureAtlas.h
INPUT			+= ../src/tdme/utilities/StringTokenizer.h
INPUT			+= ../src/tdme/utilities/StringTools.h
INPUT			+= ../src/tdme/utilities/Terrain.h
INPUT			+= ../src/tdme/utilities/Time.h
INPUT			+= ../src/tdme/utilities/VectorIteratorMultiple.h
INPUT			+= ../src/tdme/video/decoder/fwd-tdme.h
INPUT			+= ../src/tdme/video/decoder/MPEG1Decoder.h
INPUT			+= ../src/tdme/video/decoder/VideoDecoder.h
INPUT			+= ../src/tdme/video/decoder/VideoDecoderException.h
INPUT			+= ../README.md
INPUT			+= ../README-Philosophy.md
INPUT			+= ../README-Editor.md
INPUT			+= ../README-BuildingHowTo.md
INPUT			+= ../README-Screenshots.md
INPUT			+= ../README-WebReferences.md
INPUT			+= ../README-GUI-XML.md
INPUT			+= ../README-MiniScript.md
JAVADOC_AUTOBRIEF	= YES
OUTPUT_DIRECTORY	= public
PERL_PATH		= /usr/local/bin/perl
PROJECT_NAME		= TDME2
PROJECT_NUMBER		= 1.9.167
RECURSIVE		= NO
SEARCHENGINE		= YES
SERVER_BASED_SEARCH	= NO
SHOW_NAMESPACES		= NO
SOURCE_BROWSER		= NO
STRIP_CODE_COMMENTS	= NO
UML_LIMIT_NUM_FIELDS	= 100
UML_LOOK		= YES
USE_MDFILE_AS_MAINPAGE	= ../README.md
WARNINGS		= YES
FULL_PATH_NAMES = YES
STRIP_FROM_INC_PATH = /home/andreas/Development/drewke.net/tdme2/src
