COLLABORATION_GRAPH	= NO
COLS_IN_ALPHA_INDEX	= 3
EXTRACT_ALL		= YES
EXTRACT_PRIVATE	= NO
EXTRACT_STATIC		= YES
FILE_PATTERNS		= *.h
HAVE_DOT		= YES
GENERATE_LATEX		= NO
HIDE_FRIEND_COMPOUNDS	= YES
INPUT			+= ../ext/tinyxml
INPUT			+= ../src/tdme/application
INPUT			+= ../src/tdme/audio/AudioEntity.h
INPUT			+= ../src/tdme/audio/Audio.h
INPUT			+= ../src/tdme/audio/AudioStream.h
INPUT			+= ../src/tdme/audio/decoder
INPUT			+= ../src/tdme/audio/Sound.h
INPUT			+= ../src/tdme/audio/VorbisAudioStream.h
INPUT			+= ../src/tdme/engine/fileio/models/ModelFileIOException.h
INPUT			+= ../src/tdme/engine/fileio/models/ModelReader.h
INPUT			+= ../src/tdme/engine/fileio/textures/TextureReader.h
INPUT			+= ../src/tdme/engine/fileio/textures/Texture.h
INPUT			+= ../src/tdme/engine/model
INPUT			+= ../src/tdme/engine/physics
INPUT			+= ../src/tdme/engine/primitives
INPUT			+= ../src/tdme/engine/subsystems/lines/LinesObject3DInternal.h
INPUT			+= ../src/tdme/engine/subsystems/particlesystem/CircleParticleEmitterPlaneVelocity.h
INPUT			+= ../src/tdme/engine/subsystems/particlesystem/CircleParticleEmitter.h
INPUT			+= ../src/tdme/engine/subsystems/particlesystem/BoundingBoxParticleEmitter.h
INPUT			+= ../src/tdme/engine/subsystems/particlesystem/FogParticleSystemInternal.h
INPUT			+= ../src/tdme/engine/subsystems/rendering/Object3DModelInternal.h
INPUT			+= ../src/tdme/engine/subsystems/particlesystem/ObjectParticleSystemInternal.h
INPUT			+= ../src/tdme/engine/subsystems/particlesystem/ParticleSystemEntityInternal.h
INPUT			+= ../src/tdme/engine/subsystems/particlesystem/PointParticleEmitter.h
INPUT			+= ../src/tdme/engine/subsystems/particlesystem/PointsParticleSystemInternal.h
INPUT			+= ../src/tdme/engine/subsystems/particlesystem/ParticleSystemEntity.h
INPUT			+= ../src/tdme/engine/subsystems/particlesystem/ParticleEmitter.h
INPUT			+= ../src/tdme/engine/subsystems/particlesystem/SphereParticleEmitter.h
INPUT			+= ../src/tdme/engine/subsystems/rendering/Object3DBase.h
INPUT			+= ../src/tdme/engine/subsystems/rendering/Object3DInternal.h
INPUT			+= ../src/tdme/engine/Camera.h
INPUT			+= ../src/tdme/engine/Engine.h
INPUT			+= ../src/tdme/engine/Entity.h
INPUT			+= ../src/tdme/engine/EntityPickingFilter.h
INPUT			+= ../src/tdme/engine/FogParticleSystem.h
INPUT			+= ../src/tdme/engine/FrameBuffer.h
INPUT			+= ../src/tdme/engine/Frustum.h
INPUT			+= ../src/tdme/engine/Light.h
INPUT			+= ../src/tdme/engine/LinesObject3D.h
INPUT			+= ../src/tdme/engine/LODObject3D.h
INPUT			+= ../src/tdme/engine/ModelUtilities.h
INPUT			+= ../src/tdme/engine/Object3D.h
INPUT			+= ../src/tdme/engine/Object3DModel.h
INPUT			+= ../src/tdme/engine/Object3DRenderGroup.h
INPUT			+= ../src/tdme/engine/ObjectParticleSystem.h
INPUT			+= ../src/tdme/engine/ParticleSystemEntity.h
INPUT			+= ../src/tdme/engine/ParticleSystemGroup.h
INPUT			+= ../src/tdme/engine/Partition.h
INPUT			+= ../src/tdme/engine/PartitionNone.h
INPUT			+= ../src/tdme/engine/PartitionOctTree.h
INPUT			+= ../src/tdme/engine/PointsParticleSystem.h
INPUT			+= ../src/tdme/engine/Rotation.h
INPUT			+= ../src/tdme/engine/Timing.h
INPUT			+= ../src/tdme/engine/Transformations.h
INPUT			+= ../src/tdme/gui/GUI.h
INPUT			+= ../src/tdme/gui/GUIParser.h
INPUT			+= ../src/tdme/gui/GUIParserException.h
INPUT			+= ../src/tdme/gui/elements/GUIElement.h
INPUT			+= ../src/tdme/gui/effects
INPUT			+= ../src/tdme/gui/events
INPUT			+= ../src/tdme/gui/nodes/GUIColor.h
INPUT			+= ../src/tdme/gui/nodes/GUIElementNode.h
INPUT			+= ../src/tdme/gui/nodes/GUIImageNode.h
INPUT			+= ../src/tdme/gui/nodes/GUILayoutNode_Alignment.h
INPUT			+= ../src/tdme/gui/nodes/GUILayoutNode.h
INPUT			+= ../src/tdme/gui/nodes/GUIMultilineTextNode.h
INPUT			+= ../src/tdme/gui/nodes/GUINode_AlignmentHorizontal.h
INPUT			+= ../src/tdme/gui/nodes/GUINode_Alignments.h
INPUT			+= ../src/tdme/gui/nodes/GUINode_AlignmentVertical.h
INPUT			+= ../src/tdme/gui/nodes/GUINode_Border.h
INPUT			+= ../src/tdme/gui/nodes/GUINode_Clipping.h
INPUT			+= ../src/tdme/gui/nodes/GUINode_ComputedConstraints.h
INPUT			+= ../src/tdme/gui/nodes/GUINodeConditions.h
INPUT			+= ../src/tdme/gui/nodes/GUINodeController.h
INPUT			+= ../src/tdme/gui/nodes/GUINode_Flow.h
INPUT			+= ../src/tdme/gui/nodes/GUINode.h
INPUT			+= ../src/tdme/gui/nodes/GUINode_Padding.h
INPUT			+= ../src/tdme/gui/nodes/GUINode_RequestedConstraints.h
INPUT			+= ../src/tdme/gui/nodes/GUINode_RequestedConstraints_RequestedConstraintsType.h
INPUT			+= ../src/tdme/gui/nodes/GUINode_Scale9Grid.h
INPUT			+= ../src/tdme/gui/nodes/GUIPanelNode.h
INPUT			+= ../src/tdme/gui/nodes/GUIParentNode.h
INPUT			+= ../src/tdme/gui/nodes/GUIParentNode_Overflow.h
INPUT			+= ../src/tdme/gui/nodes/GUIScreenNode.h
INPUT			+= ../src/tdme/gui/nodes/GUIScreenNode_SizeConstraints.h
INPUT			+= ../src/tdme/gui/nodes/GUISpaceNode.h
INPUT			+= ../src/tdme/gui/nodes/GUITextNode.h
INPUT			+= ../src/tdme/math
INPUT			+= ../src/tdme/network/httpclient
INPUT			+= ../src/tdme/network/udpclient
INPUT			+= ../src/tdme/network/udpserver/NIONetworkServerException.h
INPUT			+= ../src/tdme/network/udpserver/NIOServer.h
INPUT			+= ../src/tdme/network/udpserver/NIOServerClient.h
INPUT			+= ../src/tdme/network/udpserver/NIOServerGroup.h
INPUT			+= ../src/tdme/network/udpserver/NIOUDPServer.h
INPUT			+= ../src/tdme/network/udpserver/NIOUDPServerClient.h
INPUT			+= ../src/tdme/network/udpserver/NIOUDPServerGroup.h
INPUT			+= ../src/tdme/network/udpserver/NIOServerClientRequestHandler.h
INPUT			+= ../src/tdme/network/udpserver/NIOServerClientRequestHandlerHub.h
INPUT			+= ../src/tdme/network/udpserver/NIOServerClientRequestHandlerHubException.h
INPUT			+= ../src/tdme/os/network/Network.h
INPUT			+= ../src/tdme/os/filesystem
INPUT			+= ../src/tdme/os/threading
INPUT			+= ../src/tdme/tools/shared/files
INPUT			+= ../src/tdme/tools/shared/model/LevelEditorEntityAudio.h
INPUT			+= ../src/tdme/tools/shared/model/LevelEditorEntityBoundingVolume.h
INPUT			+= ../src/tdme/tools/shared/model/LevelEditorEntity_EntityType.h
INPUT			+= ../src/tdme/tools/shared/model/LevelEditorEntity.h
INPUT			+= ../src/tdme/tools/shared/model/LevelEditorEntityLibrary.h
INPUT			+= ../src/tdme/tools/shared/model/LevelEditorEntityLODLevel.h
INPUT			+= ../src/tdme/tools/shared/model/LevelEditorEntityModel.h
INPUT			+= ../src/tdme/tools/shared/model/LevelEditorEntityParticleSystem_BoundingBoxParticleEmitter.h
INPUT			+= ../src/tdme/tools/shared/model/LevelEditorEntityParticleSystem_CircleParticleEmitter.h
INPUT			+= ../src/tdme/tools/shared/model/LevelEditorEntityParticleSystem_CircleParticleEmitterPlaneVelocity.h
INPUT			+= ../src/tdme/tools/shared/model/LevelEditorEntityParticleSystem_Emitter.h
INPUT			+= ../src/tdme/tools/shared/model/LevelEditorEntityParticleSystem_FogParticleSystem.h
INPUT			+= ../src/tdme/tools/shared/model/LevelEditorEntityParticleSystem.h
INPUT			+= ../src/tdme/tools/shared/model/LevelEditorEntityParticleSystem_ObjectParticleSystem.h
INPUT			+= ../src/tdme/tools/shared/model/LevelEditorEntityParticleSystem_PointParticleEmitter.h
INPUT			+= ../src/tdme/tools/shared/model/LevelEditorEntityParticleSystem_PointParticleSystem.h
INPUT			+= ../src/tdme/tools/shared/model/LevelEditorEntityParticleSystem_SphereParticleEmitter.h
INPUT			+= ../src/tdme/tools/shared/model/LevelEditorEntityParticleSystem_Type.h
INPUT			+= ../src/tdme/tools/shared/model/LevelEditorEntityPhysics_BodyType.h
INPUT			+= ../src/tdme/tools/shared/model/LevelEditorEntityPhysics.h
INPUT			+= ../src/tdme/tools/shared/model/LevelEditorLevel.h
INPUT			+= ../src/tdme/tools/shared/model/LevelEditorLight.h
INPUT			+= ../src/tdme/tools/shared/model/LevelEditorObject.h
INPUT			+= ../src/tdme/tools/shared/model/ModelProperties.h
INPUT			+= ../src/tdme/tools/shared/model/PropertyModelClass.h
INPUT			+= ../src/tdme/tools/leveleditor/logic/Level.h
INPUT			+= ../src/utils/Character.h
INPUT			+= ../src/tdme/utils/Console.h
INPUT			+= ../src/tdme/utils/Enum.h
INPUT			+= ../src/tdme/utils/Exception.h
INPUT			+= ../src/tdme/utils/ExceptionBase.h
INPUT			+= ../src/tdme/utils/Float.h
INPUT			+= ../src/tdme/utils/HexEncDec.h
INPUT			+= ../src/tdme/utils/MutableString.h
INPUT			+= ../src/tdme/utils/PathFinding.h
INPUT			+= ../src/tdme/utils/PathFindingCustomTest.h
INPUT			+= ../src/tdme/utils/Pool.h
INPUT			+= ../src/tdme/utils/Properties.h
INPUT			+= ../src/tdme/utils/ReferenceCounter.h
INPUT			+= ../src/tdme/utils/RTTI.h
INPUT			+= ../src/tdme/utils/StringTokenizer.h
INPUT			+= ../src/tdme/utils/StringUtils.h
INPUT			+= ../src/tdme/utils/Time.h
INPUT			+= ../src/tdme/utils/VectorIteratorMultiple.h
INPUT			+= ../README.md
INPUT			+= ../README-LevelEditor.md
INPUT			+= ../README-ModelEditor.md
INPUT			+= ../README-ParticleSystemEditor.md
INPUT			+= ../README-BuildingHowTo.md
JAVADOC_AUTOBRIEF	= YES
OUTPUT_DIRECTORY	= public
PERL_PATH		= /usr/local/bin/perl
PROJECT_NAME		= TDME2
PROJECT_NUMBER		= 1.9.56
RECURSIVE		= NO
SEARCHENGINE		= YES
SERVER_BASED_SEARCH	= NO
SOURCE_BROWSER		= NO
STRIP_CODE_COMMENTS	= NO
UML_LIMIT_NUM_FIELDS	= 100
UML_LOOK		= YES
USE_MDFILE_AS_MAINPAGE	= ../README.md
WARNINGS		= YES
