COLLABORATION_GRAPH	= YES
EXTRACT_ALL		= YES
EXTRACT_PRIVATE	= YES
EXTRACT_STATIC		= YES
FILE_PATTERNS		= *.cpp *.h
GENERATE_TREEVIEW	= YES
HAVE_DOT		= YES
INCLUDE_PATH		= ../src
INCLUDE_PATH		= ../ext/jsonbox
INCLUDE_PATH		= ../ext/tinyxml
EXCLUDE_PATTERNS	= */src/tdme/tests/*
GENERATE_LATEX		= NO
INPUT			= ../src
INPUT			+= ../ext/jsonbox
INPUT			+= ../ext/tinyxml
INPUT			+= ../README.md
INPUT			+= ../README-LevelEditor.md
INPUT			+= ../README-ModelEditor.md
INPUT			+= ../README-ParticleSystemEditor.md
INPUT			+= ../README-BuildingHowTo.md
JAVADOC_AUTOBRIEF	= YES
OUTPUT_DIRECTORY	= generated
PERL_PATH		= /usr/local/bin/perl
PROJECT_NAME		= TDME2
PROJECT_NUMBER		= 1.9.23
RECURSIVE		= YES
SEARCHENGINE		= YES
SERVER_BASED_SEARCH	= NO
SOURCE_BROWSER		= YES
STRIP_CODE_COMMENTS	= NO
TREEVIEW_WIDTH		= 250
UML_LIMIT_NUM_FIELDS	= 100
UML_LOOK		= YES
USE_MDFILE_AS_MAINPAGE	= ../README.md
WARNINGS		= YES
