name: CI Windows/MSC

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    - uses: ilammy/msvc-dev-cmd@v1
    - uses: actions/checkout@v2
    - name: build
      run: cd ext\minitscript\ && cd ./ext/windows-msc && 7z x tools.zip && cd ../.. && nmake -f Makefile.nmake && copy ".\lib\*.dll" ".\bin\minitscript\tools\" && .\scripts\windows-prepare-platform-libs.bat && copy "platform\libs\*.dll" ".\bin\minitscript\tools\" && .\bin\minitscript\tools\minitscript --working-directory=../.. ../../make.tscript --arguments clean libraries executables && cd ..\..
