name: CI Windows/MINGW

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

defaults:
    run:
      shell: msys2 {0}

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: msys2/setup-msys2@v2
      with:
        update: true
        install: >-
          base-devel
          git
          make
          mingw-w64-x86_64-gcc
          mingw-w64-x86_64-openal
          mingw-w64-x86_64-glfw
          mingw-w64-x86_64-glew
          mingw-w64-x86_64-dlfcn
          mingw-w64-x86_64-freetype
          mingw-w64-x86_64-pkgconf
          unzip
    - uses: actions/checkout@v2
    - name: build
      run: cd ext/minitscript && cd ./ext/windows-msc && unzip tools.zip && cd ../.. && make mains && cp ./lib/*.dll ./bin/minitscript/tools/ && ./bin/minitscript/tools/minitscript --working-directory=../.. ../../make.tscript --arguments clean libraries executables && cd ../..
